/*Style*/

@media only screen and (max-device-width: 480px) {

div#wrapper {
	width: 400px;
}

div#header {
	background-image: url(media-queries-phone.jpg);
	height: 93px;
	position: relative;
}

div#header h1 {
	font-size: 140%;
}

#content {
	float: none;
	width: 100%;
}

#navigation {
	float:none;
	width: auto;
}

.intro-section {
	background-attachment: inherit !important;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
}

.container {
	
    position: relative;
    max-width: 1000px;
    padding: 50px;
	color: #13849E;
	text-align: center;
}


body, html {
    height: 100%;
    
}

.parallax2 { 
    background-image: url(me.jpg);

    height: 80%; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family:   'Source Sans Pro', sans-serif;
	color: white;
	text-align: center;
}

.parallax { 
    background-image: url(background.jpg);

    height: 40%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
