/*Style*/
/*MOBILE SETTINGS*/
@media screen and (max-device-width: 480px) {

div#wrapper {
	width: 400px;
}
div#header {
	background-image: url(media-queries-phone.jpg);
	height: 93px;
	position: relative;
}
div#header h1 {
	font-size: 140%;
}
#content {
	float: none;
	width: 100%;
}
#navigation {
	float:none;
	width: auto;
}
}

/*Main Page styling */
.container {
	
    position: relative;
    max-width: 1500px;
    padding: 1.625em 0 0;
    overflow: auto;
    font-family:Palatino;
    background-color: black;
    
}


body, html {
    height: 100%;
    background-color:black;
    
}

.btn{

	font-family:Palatino;
	width: 200px;
	height: 50px;
	padding: 10px;
	font-size: 20px;
	letter-spacing: 1.2px;
	border: white;
	border-width: 2px;
	font-weight: bold;
	border-style:solid;
	color: white;
	border-radius: 100px;
}

.btn:hover{

	background-color: gray;
	color: white;
	
}



h1 {
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	color: white;
	
}

h5 {
	color: white;
	font-weight: bold;
}

p {
	color: white;
	
	letter-spacing: 1.5px;
}

p2 {

	color: white;
	font-size: 23px;
	padding-top: 20px;
}
i {

	float: left;
	font-size: 150px;
	color: white;
	
}


/*FIT BETWEEN SCREENS */
@media (min-width:769px){


#split{
	width: 50%;
	float:left;
	padding: 7.5%;
	margin: 0px;
}

#split2{
	width: 50%;
	float:left;
	padding: 7.5%;
	margin: 0px;
	display: inline;
	
}

.parallax2 { 
    background-image: url(me.jpg);

    height: 80%; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
	
}

.parallax { 
    background-image: url(background.jpg);

    height: 40%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
}
@media (max-width:768px){

#split{
  text-align:center;
  padding: 7.5%;
}

#split2{
	width: 50%;
	float:left;
	padding: 7.5%;
	margin: 0px;
	display: inline;
	text-align: center;
	
}

.parallax2 { 
    background-image: url(me.jpg);

    height: 35%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.parallax { 
    background-image: url(background.jpg);

    height: 40%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
}
